.footer-container {
  text-align: center;
  padding: 2em;
  color: var(--black2);
  background-color: var(--gray-light);

  h2 {
    color: var(--primary);
    margin-bottom: 1em;
  }

  p {
    margin: 0.5em 0;
  }
}
