@import '../../Styles/Mixins/mixins';

.specimen-container {
  color: var(--black-light);

  h2,
  h3,
  h4 {
    color: var(--primary);
    margin-bottom: 1em;
    font-size: 1.4em;
  }
}

.specimen__img {
  width: 100%;
  height: 70vh;
  background-color: var(--black);

  @include to-mobile {
    height: 300px;
  }

  img {
    object-fit: cover;
    object-position: top;
    display: block;
    margin: auto;
    width: 100%;
    height: 100%;
    padding: 0 25%;

    @include to-mobile {
      width: 100%;
      padding: 0 2em;
    }
  }
}

.section-container {
  padding: 2em 5em;

  @include to-mobile {
    padding: 2em 1em;
  }

  &--gray {
    background-color: var(--gray-light);
  }
}

.specimen__description {
  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1em;

    li {
      position: relative;
      width: 15em;
      margin: 0.5em 0;
      margin-left: 1em;

      @include to-mobile {
        width: 100%;
      }

      &::before {
        display: inline-block;
        position: absolute;
        top: 8px;
        left: -10px;
        content: '';
        width: 5px;
        height: 5px;
        background-color: var(--primary);
        border-radius: 50%;
      }
    }
  }
}

.specimen__bionomy {
  p {
    margin: 1em 2em;
    text-align: justify;
    line-height: 1.4em;

    @include to-mobile {
      margin: 1em 0.5em;
    }
  }
}

.specimen__location {
  figure {
    img {
      display: block;
      width: 50%;
      height: auto;
      margin: 1em auto;

      @include to-mobile {
        width: 100%;
      }
    }
  }

  ol {
    margin: 0 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    li {
      width: 12em;
      margin: 0.5em 0 0.5em 2em;

      @include to-mobile {
        width: 100%;
      }
    }
  }
}

.specimen__importance {
  display: flex;
  justify-content: space-around;

  @include to-mobile {
    flex-direction: column;
  }

  .separator {
    width: 1px;
    height: inherit;
    background-color: var(--primary);
  }

  .specimen__importance__item {
    margin: 1em 0;

    @include to-mobile {
      padding-left: 2em;
    }

    p {
      margin: 1em 0;
    }

    li {
      margin: 0.4em;
    }
  }
}

.specimen__taxonomy {
  .specimen__taxonomy__item {
    display: flex;
    justify-content: center;
    padding: 3em 0;
    border-bottom: 1px solid var(--primary-opacity);

    @include to-mobile {
      flex-direction: column;
      align-items: center;
    }

    img {
      width: 20em;
      height: auto;
      border-radius: 5px;
      box-shadow: 0 0 5px 3px var(--primary);
    }

    .specimen__taxonomy__claves {
      overflow-y: auto;
      width: 30em;
      padding: 1em 3em;

      @include to-mobile {
        width: 100%;
        padding: 1em;
      }
    }
  }
}

.specimen__references {
  .specimen__references__item {
    margin: 1em 0.5em;
  }
}
